<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/events.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="nav">
      <div class="nav-item">
        <a href="/auth/logout">Log out</a>
      </div>
      <div class="nav-item">
        <a href="/session">Session</a>
      </div>
    </div>
    <div class="center-container">
      <div class="flex-buffer">
        <center>
          <div class="title">
            Change credentials
          </div>
        </center>
        <div class="form-container">
          <center>
            <div class="image-container">
              <div class="form" action="/api/session/upload" method="POST" multipart='true' on-success-reload="true" on-success="console.log(response)" on-error="console.log(response)">
                <div class="sub-title">
                  Change profile picture
                </div>
                <img src="/api/session/image" alt="">
                <center>
                  <input type="file" name="file" id="profile-picture" required accept="image/jpeg"><br />
                  <div id="preview-container">
                  </div>
                  <button type="button" id="image-cancel" class='hidden'>Cancel</button>
                  <button type="submit" name="button">Submit</button>
                </center>
              </div>
            </div>
          </center>
        </div>
        <div class="form-container">
          <center>
            <div class="form" on-error-prompt-selector=".prompt" action="/auth/change/username" method="POST" on-success-redirect="/session">
              <div class="sub-title">
                Change username
              </div>
              <input type="text" name="username" value="" placeholder="Change username">
              <input type="password" name="password" value="" placeholder="Confirm with password">
              <span class='prompt'></span><br />
              <button type="submit" name="button">Submit</button>
            </div>
          </center>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
      $.ajax({
        url:"/api/session/get",
        method:'GET',
        success:function(response){
          // console.log(response)
          $('#welcome-username').html(response.user);
          $('#welcome-container').removeClass("hidden")
        },
        error:function(err){
          console.error(err)
        }
      })
      $('#profile-picture').on('change',() => {
        let reader = new FileReader();
        reader.onload = function(e){
          let container = $('#preview-container');
          container.append($('<div class="sub-title">Preview</div>'));
          let image = $('<img>');
          image.attr('src',reader.result);
          container.append(image);
          $('#image-cancel').removeClass('hidden');
        }
        reader.readAsDataURL($('#profile-picture')[0].files[0])
        // console.log($('#profile-picture')[0].files[0])
      })
  </script>
</html>
