<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/events.js" charset="utf-8"></script>
    <script src="js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="nav" id="navigation">
      <div class="nav-item">
        <a href="/login" id="login">Login</a>
      </div>
    </div>
    <center>
      <div class="title">
        Dummy file submission for testing
      </div>
      <div class="form" id="main" multipart="true" action="/api/session/upload" method="POST" on-error='console.error(response)'>
        <input type="text" name="username" value="" placeholder="Username">
        <span class="mini-note">Username is case insensitive</span>
        <input type="password" name="password" value="" placeholder="Password">
        <input type="file" name="file" accept="image/jpeg">
        <input type="password" name="confirm_password" value="" placeholder = "Confirm Password"><br />
        <span class="prompt"></span>
        <br />
        <button type="submit" name="button">Submit</button>
      </div>
    </center>

  </body>
  <script type="text/javascript">
    $('#main').on('success',function(e,response){
      console.log(response)
    })
    $.ajax({
      url:"/api/session/get",
      success:function(){
        $('#login').html("Session")
        $('#login').attr('href','/session');
        let elem = $('<div class="nav-item">');
        elem.html("<a href='/auth/logout'>Logout</a>");
        $('#navigation').append(elem)
      }
    })
  </script>
</html>
