<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/events.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="nav">
      <div class="nav-item">
        <a href="/auth/logout">Log out</a>
      </div>
      <div class="nav-item">
        <a href="/">Sign up</a>
      </div>
      <div class="nav-item">
        <a href="/change/credentials">Edit</a>
      </div>
    </div>
    <span id="welcome-container" class="hidden"> Welcome <span id="welcome-username"></span></span>
  </body>
  <script type="text/javascript">
      $.ajax({
        url:"/api/session/get",
        method:'GET',
        success:function(response){
          // console.log(response)
          $('#welcome-username').html(response.user);
          $('#welcome-container').removeClass("hidden")
        },
        error:function(err){
          console.error(err)
        }
      })
  </script>
</html>
