body, html {
  margin:0;
  padding:0;
  height:100%;
  font-family:RobotoCondensed;
}
body {
  background-color: rgb(230,230,230);
}
.form {
  width:400px;
  color:red;
  flex: auto;
}
.form-container {
  background-color:white;
  padding:20px;
  margin:10px 0px;
}
flex-break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.hidden {
  display:none;
}
.center {
  display:flex;
  justify-content: center;
}
.form input {
  display:block;
  width:80%;
  min-width: 100px;
  max-width: 10000%;
  border:0;
  font-family: RobotoCondensed;
  font-size:17px;
  padding:7px;
  margin:5px 0px;
  transition:0.3s;
}
body.special .form input {
  border-bottom:5px solid rgba(0,0,0,0)
}
.form input:focus {
  outline:0;
  background-color:red;
  color:white;
  border-radius:5px;
}
body.special .form input:focus {
  background-color: white;
  outline:0;
  color:black;
  border-radius:0;
  border-bottom: red solid 5px;
}
body.special .form input:focus::placeholder{
  color:rgb(200,200,200)
}
.form input::placeholder {
  color:rgb(200,200,200)
}
.form input:focus::placeholder {
  color:rgb(255,255,255,0.5)
}
.prompt {
  color:rgb(255, 117, 117)
}


.nav {
  background-color:white;
  margin:10px 0px;
  padding: 0px 15px;
}
.nav .nav-item {
  display:inline-block;
  padding:0;
  margin:0;
}
.nav .nav-item a {
  color:red;
  text-decoration:none;
  padding:20px;
  display:block;
  font-size:20px;
  transition:0.5s;
}
.nav .nav-item a:hover {
  background-color:red;
  color:white;
}
.mini-note {
  color:red;
  font-size:12px;
}

.title {
  font-size:35px;
  margin:10px 0px;
}
.sub-title {
  margin:15px 0px;
  font-size:25px
}
.mini-title {
  font-size:20px
}
.micro-title {
  font-size:12px
}
.big-title {
  margin:15px 0px;
  font-size:50px
}

.image-container img {
  height:300px;
  width:300px;
}

@font-face {
  font-family: RobotoCondensed;
  src:url("/fonts/roboto.ttf");
}
.center-container {
  margin-top:50px;
  display:flex;
  justify-content: center;
}
button {
  border:rgba(0,0,0,0) solid 3px;
  border-radius:0;
  font-family: RobotoCondensed;
  font-size: 17px;
  padding:5px;
  color:white;
  cursor:pointer;
  background-color:red;
  transition:0.3s;
  border-radius:5px;
}
button:hover {
  background-color:white;
  color:red;
  border:red solid 3px
}
/* .flex-buffer {
  flex:auto;
} */
.container {
  margin:30px 0px;
}
.content-container {
  background-color:white;
  width:80%
}

/* Colors */
.red {
  color:red;
}
.grey {
  color:grey
}




/* Add on classes */
.clean-margin {
  margin:20px
}
.clean-padding {
  padding:20px
}
.clean-padding-small {
  padding:10px
}
.center-align-text {
  text-align: center
}
.left-align-text {
  text-align:left;
}
