.nord-lightblue{background-color: #A0DAE5 !important;}

.nord-lightblue-text{color: #A0DAE5 !important;}

.nord-darkblue{background-color: #003255 !important;}

.nord-darkblue-text{color: #003255 !important;}


.nord-lightgrey{background-color: #E3E1DC !important;}


.nord-lightgrey-text{color: #E3E1DC !important;}


.nord-darkgrey{background-color: #8F8B86 !important;}


.nord-darkgrey-text{color: #8F8B86 !important;}


.nord-red{background-color: #EA3056 !important;}


.nord-red-text{color: #EA3056 !important;}


.nord-orange{background-color: #F28650 !important;}


.nord-orange-text{color: #F28650 !important;}


.nord-purple{background-color: #722C8A !important;}


.nord-purple-text{color: #722C8A !important;}

.nord-yellow{background-color: #FDC02D;}

.nord-yellow-text{color: #FDC02D;}
